.container {
    background-color: #f8f6f6;  
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
  }
  
  /* Style for the list items */
  .list-group-item {
    background-color: #ffffff;  
    border: 1px solid #dee2e6;  
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .list-group-item:hover {
    background-color: #f1f1f1;  
  }
  
  /* Style for the table inside the modal */
  .table {
    margin-top: 20px;  
  }
  
  .thead-dark th {
    background-color: #343a40;  
    color: white;
  }
  

  .modal-body p strong {
    font-weight: bold;
    color: #343a40;  
  }
  